@model ShoeDesignz.Models.Cart


@{
    ViewData["Title"] = "Index";
    var products = this.ViewContext.RouteData.Values["id"];
    
}

<h1>Welcome to your shopping cart!</h1>

<form method="post" asp-controller="Cart" asp-action="Checkout" asp-route-id="@Model.ID">
    @foreach (var item in Model.CartItems)
    {
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Order Number</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">@item.ID</th>
                    <td>@item.Inventory.Name</td>
                    <td>@item.Inventory.Price</td>
                    <td><input type="number" class="form-control" id="Quantity" placeholder="@item.Quantity"></td>
                    <td>@(item.Quantity * item.Inventory.Price)</td>
                </tr>
            </tbody>
        </table>
    }
    <div> <button type="submit" value="Checkout">Place your order to email reciept</button></div>
    <div><button asp-controller="Cart" asp-action="GetCardInfo">Checkout with Credit Card</button></div>
    @*<a asp-controller="Cart" asp-action="GetCardInfo">Place CC</a>*@
</form>
