@model List<ShoeDesignz.Models.Inventory>
@using ShoeDesignz.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager


@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
    var products = this.ViewContext.RouteData.Values["id"];
    var numOfProducts = Model.Count();

}

<header>
    <div class="jumbotron jumbotron-fluid">

        @if (!SignInManager.IsSignedIn(User))
        {
            <a asp-controller="Account" asp-action="Register">Register</a>
            <a asp-controller="Account" asp-action="Login">Login</a>
        }
        else
        {
            <a asp-controller="Cart" asp-action="Index">View Cart</a>
            <a asp-controller="Product" asp-action="Products">View Products</a>
        }

    </div>
</header>


<h1>Products</h1>
Here all products will show
<div>
    <nav>
        <a class="btn btn-primary btn-lg" role="button" asp-controller="Policy" asp-action="Index">Student edu Discount</a>
        <customErrors mode="On" redirectMode="ResponseRewrite">
            <error statusCode="404" redirect="Error404" />
    </nav>
</div>


<div id="productCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < numOfProducts; i++)
        {
            var activeClass = i == 0 ? "active" : "";
            <li data-target="#productCarousel" data-slide-to=@i class="@activeClass"></li>
        }

    </ol>
    <div class="carousel-inner">

        @for (int i = 0; i < numOfProducts; i++)
        {
            var item = Model[i];
            var activeClass = i == 0 ? "active" : "";
            <div class="carousel-item @activeClass">
                <div class="carousel-image" style="background-image:url('/Images/Image from iOS.jpg')"></div>
                <div class="carousel-caption">
                    <h5>@item.Name</h5>
                    <p>@item.Description</p>
                    <p>Price: @item.Price</p>
                    <a asp-controller="Product" asp-route-id="@item.ID" asp-action="Details">View Details</a>
                    <a asp-controller="Cart" asp-action="Buy" asp-route-id="@item.ID">Buy Now</a>
                </div>
            </div>
        }

    </div>
    <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
