@model ShoeDesignz.Models.Order
@{
    ViewData["Title"] = "Details";
    var products = this.ViewContext.RouteData.Values["id"];
}

<h1>Receipt details of purchase</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col"># of Items</th>
                <th scope="col">Type of Shoe</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity Purchased</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
       <tbody>
@foreach (var item in Model.OrderItems)
{
            <tr>
                <th scope="row">@item.ID</th>
                <td>@item.Inventory.Name</td>
                <td>@item.Inventory.Price</td>
                <td><input type="number" class="form-control" id="Quantity" placeholder="@item.Quantity"></td>
                <td>@(item.Quantity * item.Inventory.Price)</td>
            </tr>
}
        </tbody>
    </table>

